/* ------------------------------------------- */

/* ----------- Main Header Styles ------------ */

/* ------------------------------------------- */

.vida-header-wrapper {
  position: relative;
  width: 100%;
}

.vida-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 24px;
  height: 72px;
  box-sizing: border-box;
  border-bottom: 1px solid #DCDCDD;
}

.vida-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.vida-header-logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 124px;
}

.vida-header-logo img {
  display: block;
  height: auto;
  width: 100%;
}

.vida-header-nav {
  display: none;
}

.vida-header-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 48px;
}

.vida-header-nav-item {
  position: relative;
}

.vida-header-nav-link {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.25px;
  color: #3F3D3D;
  gap: 8px;
}

.vida-header-nav-link:hover,
.vida-header-nav-link[aria-expanded="true"] {
  color: #ff5310;
}

.vida-header-top-link {
  display: none;
}

.vida-header-header-actions .button {
  display: none;
}

.vida-header-nav-link-chevron {
  display: block;
  transition: transform 0.2s ease;
}

.vida-header-header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.country-selector {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  gap: 8px
}

.country-flag-item {
  display: block;
  width: 30px;
}

.vida-header-country-selector-chevron {
  display: block;
  transition: transform 0.2s ease;
}



@media (width >= 1024px) {
  .vida-header {
    padding: 14px 88px;
  }

  .vida-header-nav {
    display: flex;
  }

  .vida-header-top-link {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: -0.25px;
    text-decoration: none;
    color: #3F3D3D;
  }

  .vida-header-top-link:hover {
    color: #ff5310;
  }

  .vida-header-header-actions .button {
    display: inline-flex;
  }
}

/* ------------------------------------------- */

/* ---------- Product Submenu Styles --------- */

/* ------------------------------------------- */
.vida-header-submenu {
  position: absolute;
  inset-inline: 0;
  top: 100%;
  z-index: 20;
  background: #fff;
  border-top: 1px solid #dcdcdd;
}

.vida-header-submenu[hidden] {
  display: none;
}

.vida-header-submenu-content,
.vida-header-submenu-products-wrap {
  width: 100%;
}

.vida-header-submenu-products {
  margin: 16px 10px;
  padding: 48px 0;
  padding-left: 86px;
  background: #F9F5EE;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.vida-header-category {
  display: flex;
  width: 100%;
  gap: 48px;
  align-items: center;
}

.vida-header-category-header {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  padding: 0;
  text-align: center;
}

.vida-header-category-title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #1d1b1b;
  font-weight: 600;
}

.vida-header-vehicles {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 92px;
}

.vida-header-vehicle-item {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
}

.vida-header-vehicle-img img {
  width: 100%;
  height: 110px;
  aspect-ratio: 16 / 10;
  object-fit: contain;
}

.vida-header-vehicle-info {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}

.vida-header-name-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.vida-header-vehicle-name {
  font-size: 14px;
  line-height: 14px;
  font-weight: 530;
  color: #000;
}

.vida-header-vehicle-item:hover {
  transform: translateY(-5px);
}

.vida-header-vehicle-new,
.vida-header-explore-new {
  padding: 2px 6px;
  border-radius: 2px;
  background: #00b348;
  color: #ccf9de;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 19px;
}

/* ------------------------------------------- */

/* ---------- Explore Submenu Styles --------- */

/* ------------------------------------------- */
.vida-header-submenu-explore {
  display: flex;
  gap: 48px;
  padding: 40px 88px;
}

.vida-header-explore-grid {
  flex: 1;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, auto);
  gap: 16px 40px;
  padding: 8px;
}

.vida-header-explore-side {
  flex: 0 0 auto;
  padding-left: 48px;
  border-left: 1px solid #dcdcdd;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vida-header-explore-item {
  display: block;
  text-decoration: none;
  color: inherit;
  max-width: 240px;
  max-height: 80px;
  padding: 8px;
}

.vida-header-title-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.vida-header-explore-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #000;
}

.vida-header-explore-side-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #5C5A5A;
}

.vida-header-explore-item:hover .vida-header-explore-title,
.vida-header-explore-item:hover .vida-header-explore-side-title {
  color: #ff5310;
}

.vida-header-explore-desc {
  margin: 4px 0 0;
  font-size: 14px;
  line-height: 20px;
  color: #5c5a5a;
}